* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}


.container {
  padding-top: 10%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-content: center;
}

.item {
  border: 1px solid #ccc;
  padding: 20px;
  width: 200px;
  height: 300px;
  text-align: center;
}

.main {
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
}

.img {
  width: 180px;
  height: 220px;
}

.navbar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #ffffff;
  justify-content: space-between;
  box-shadow: 0px 4px 20px rgba(75, 70, 70, 0.1);
  align-items: center;
}

.logo {
  display: flex;
  margin-right: 5%;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #545be8;
  font-family: 'Roboto', sans-serif;
}

.logoimg {
  display: flex;
  width: 80px;
  height: 80px;
}

.nav_list {
  display: flex;
  gap: 10px;
  list-style: none;
  font-size: 20px;
}

.button {
  background-color: #545be8;
  border-radius: 14px;
  border: none;
  color: white;
  padding: 14px 24px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}

.containerlogo {
  display: flex;
  flex-direction: row;
  align-items: center;
}








@media screen and (max-width: 912px) {
  .container {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 25%;
  }
}

@media screen and (max-width: 800px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 25%;
  }
}

@media screen and (max-width: 489px) {
  .container {
    grid-template-columns: 1fr;

  }

  .navbar {
    flex-wrap: wrap;
    height: auto;
    justify-content: center;
    padding: 10px;
  }

  .logo {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nav_list {
    flex-wrap: wrap;
    gap: 20px;
  }

  .button {
    margin-top: 25px;
    padding: 10px 16px;
  }

  .containerlogo {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
